*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 81px;
}

body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  background-color: #ebecf2;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

.underline {
  margin: 0 auto 40px;
  width: 70px;
  height: 4px;
  background-color: #039dff;
}

.blue-text {
  color: #039dff;
}

.nav-shadow {
  background-color: rgba(0, 0, 0, 0.9);
}

nav {
  text-transform: uppercase;
  -webkit-transition: background-color 0.6s;
  transition: background-color 0.6s;
  z-index: 1;
}

nav .nav-link,
nav .navbar-brand,
nav .fa-bars {
  color: #fff;
}

nav a:hover {
  color: #039dff;
}

nav .fa-bars {
  padding: 10px;
}

nav .navbar-brand {
  font-weight: bold;
}

nav .active {
  color: #039dff;
}

header {
  color: #fff;
}

header .bg-img {
  position: relative;
  height: 100vh;
  background: fixed center/cover url(../img/playstation-1845880_640.jpg);
  z-index: 0;
}

header .bg-shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

header .welcome-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  text-align: center;
  padding: 10px;
  z-index: 5;
}

header h1 {
  font-size: 30px;
  text-transform: uppercase;
}

header p {
  font-size: 14px;
}

header .btn-outline-light {
  text-transform: uppercase;
}

header .fa-chevron-down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 50px;
  color: #fff;
}

.aboutus i {
  margin-top: 20px;
  font-size: 30px;
}

.aboutus .aboutus-card-title {
  font-size: 18px;
  text-transform: uppercase;
}

.aboutus .aboutus-card-text {
  font-size: 14px;
}

.aboutus .aboutus-hover {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.aboutus .aboutus-hover:hover {
  color: #039dff;
}

.aboutus-platform {
  position: relative;
  background-image: url(../img/technology-2818664_640.jpg);
  background-position: center;
  background-size: cover;
  color: #ddd;
  z-index: 0;
}

.aboutus-shadow {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.aboutus-platform-item {
  margin: 10px 0;
}

.aboutus-platform-item i {
  font-size: 36px;
}

.aboutus-platform-item .aboutus-platform-name {
  font-size: 24px;
}

.portfolio .carousel-item {
  position: relative;
  height: 600px;
}

.portfolio .carousel-caption {
  position: absolute;
  left: 0;
  right: 0;
  padding: 40px 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.portfolio .carousel-indicators {
  padding-bottom: 15px;
}

.prices .price-box {
  margin: 20px 10px;
  padding: 20px;
  -webkit-box-shadow: 5px 5px 3px 0px grey;
          box-shadow: 5px 5px 3px 0px grey;
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.prices .price-box h3 {
  text-transform: uppercase;
  color: #039dff;
}

.prices .price-box span {
  font-weight: bold;
}

.prices .price-box i {
  margin: auto 6px;
  font-size: 24px;
}

.prices .price-box button {
  padding: 10px 20px;
  text-transform: uppercase;
}

.prices .price-box .price-tag {
  font-size: 28px;
  font-weight: bold;
}

.prices .price-box:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.prices .price-info a {
  text-decoration: none;
}

.team {
  position: relative;
  background-image: url(../img/iocenters-2673316_1920.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}

.team .team-shadow {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.team h2 {
  color: #ddd;
}

.team .card {
  margin: 10px 20px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.team .card img {
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
}

.team .card .card-body {
  height: 130px;
}

.team .card .card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #039dff;
}

.team .card .card-footer i {
  padding: 5px;
}

.team .card .card-title {
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.team .card .card-text {
  font-size: 12px;
}

.team .card:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

@media (min-width: 375px) {
  header h1 {
    font-size: 36px;
  }
  header p {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  header h1 {
    font-size: 42px;
  }
  header p {
    font-size: 20px;
  }
  .team .card img {
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .team .card .card-body {
    height: 130px;
  }
}

@media (min-width: 992px) {
  nav {
    height: 82px;
  }
  .aboutus-platform {
    background-image: url(../img/technology-2818664.jpg);
  }
  .prices .price-info {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  header .bg-img {
    background-image: url(../img/playstation-1845880_1920.jpg);
  }
}
/*# sourceMappingURL=main.css.map */