@import './colors';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	background-color: #444;
}

.blue-text {
	color: $blue;
}

nav {
	text-transform: uppercase;
	z-index: 1;

	.nav-link,
	.navbar-brand,
	.fa-bars {
		color: $white;
	}

	a:hover {
		color: $blue;
	}

	.fa-bars {
		padding: 10px;
	}
	.navbar-brand {
		font-weight: bold;
	}

	.active {
		color: $blue;
	}
}

header {
	color: $white;

	.welcome-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		text-align: center;
		padding: 10px;
		z-index: 5;
	}

	h1 {
        font-size: 30px;
		text-transform: uppercase;
	}

    p {
        font-size: 14px;
    }

	.bg-img {
		position: relative;
		height: 100vh;
		background: fixed center / cover url(../img/playstation-1845880_640.jpg);
		z-index: 0;
	}
	.bg-shadow {
		position: absolute;
		height: 100%;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: -1;
	}

	.btn-outline-light {
		text-transform: uppercase;
	}
	.fa-chevron-down {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
		font-size: 50px;
        color: $white;
	}
}

main {
	background-color: gold;
	// z-index: 2;
}



@media (min-width: 375px) {
	header {
        h1 {
            font-size: 36px;
        }
        
        p {
            font-size: 16px;
        }
	}
}

@media (min-width: 768px) {
	header {
        h1 {
            font-size: 42px;
        }
        
        p {
            font-size: 20px;
        }
	}
}

@media (min-width: 1200px) {
	header {
		.bg-img {
			background: fixed center / cover url(../img/playstation-1845880_1920.jpg);
		}
	}
}
